
        /* lets hide all the css for nav bar cause recreated in navstyle.css under src styles  */
       
        body{
          background-color: black;
        color: white;

    }     
    /* navigation */
    .head{
        width: 75vw;
        margin: auto;
        /* background-color: aqua; */

      }
            .head img{
                width: 70vw;
                align-items: center;
                align-content: center;
                margin: -30px 50px;
                margin-bottom: 20px;
            /* background-color: rebeccapurple; */
               
            }
      /* navigation here  */
      /* Navigation Bar */

#logo{
    margin: 10px 34px;
    /* background-color: aquamarine; */
}

#logo img{
    height: 50px;
    margin: 3px 6px;
}



/* information about web */
.info{
  margin-top: 100px;
  /* background-color: aquamarine; */
  text-align: center;
}
.info p{
  font-size: 20px;
}

            
              
              

    