     
    body,.section{
        background-color: black;
    }
    /* card */
    .card{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
       /* section this contains all blocks and cards */
       .section{
                
        display: flex;
        background-color: rgb(76, 72, 67);
        padding: 5px;
        margin: 10px;
        width: fit-content;
        border-radius: 20px;
        
        
        
    }
    .section:hover{
        cursor: pointer;
    }
    .section .contentofblock{
        font-size: 1.5rem;
        color: white;
        /* text-decoration: underline; */
        margin-left: 15px;
    }
    /* this hold all the cards  */
    .block{
        /* border: black solid 1px; */
        min-width: 200px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
/*cards design */
    /* .block equivalent to #card1-13 */
    .block {
        /* margin: auto; */
        width: 200px;
        height: 250px;
        background-color: rgb(145, 132, 114);
        color: aqua;
        font-size: larger;
        text-align: center;
        border-radius: 20px;
    }
    /*card editing*/ 
    /* .card{
        margin: 30px auto;
        display: grid;
        grid-auto-flow: row;
        grid-gap: 50px;
        grid-template-rows:repeat(auto-fit,minmax(200px,1fr))
    } */
     /* hiding dmart and prime no projects  */
     #section4,#section5{
        display: none;
     }
    #card1{
        background-image: url(resources/tic\ tac\ toe.png);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    #card2{
        background-image: url(resources/discoloration.png);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    #card3{
        background-image: url(resources/sudoku.png);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    #card4{
        background-image: url(resources/dmart.webp);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    #card5{
        background-image: url(resources/prime.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    #card6{
        background-image: url(resources/discoloration.png);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    #card7{
        background-image: url(resources/snake.png);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    #card8{
        background-image: url(resources/ludo.png);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    #card9{
        background-image: url(htmlgamessite/4winds/4winds200.png);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    #card10{
        background-image: url(htmlgamessite/bubbleshooter/bubble_shooter200.webp);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    #card11{
        background-image: url(htmlgamessite/mystical_forest/mysticalforest200.webp);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    #card12{
        background-image: url(htmlgamessite/slide_wood/slidewood200.webp);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    #card13{
        background-image: url(htmlgamessite/suduku_classic/sudokuclassic200.webp);
        background-size: contain;
        background-repeat: no-repeat;
        
    }

    

    .btn{
        color: white;
        background-color: rgb(98, 207, 213);
        padding: 10px;
        padding-top: 19px;
        border-radius: 0px 0px 20px 20px;
        margin: 0px;
        
        text-align: bottom;
        
    }

    .text{
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        font-size: larger;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        margin: 10px auto;
        padding: 0px 5px;

    }
    .btn:hover{
        cursor: pointer;
    }

    .contentofblock{
        display: none;
    }


      /* customized game css for mobiles  */
      @media only screen and (max-width: 650px) {
        .body{
            /* background-color: black; */
        }
        .card{
          display: flex;  
          flex-wrap: wrap;
          /* background-color: rgb(0, 0, 0); */
        }
        .section{
            
            /* margin: 0px; */
            margin: 10px;
            padding: 0px;
            /* background-color: aqua; */
            display: block;
        }
        .contentofblock{
            display: none;
        }
        
        }
       /* end of css for mobile  */


    